.cta-b {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px solid white;
  color: white;
  transition: ease 700ms;
}
.cta-b:hover {
  cursor: pointer;
  border: 2px solid aqua;
  color: aqua;
}
