@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  background-color: #232325;
  color: white;
}
main {
  min-height: 100vh;
  height: auto;
  width: 1200px;
  margin: auto;
  background-color: #141422;
}
img {
  margin: auto;
}
@media screen and (max-width: 1200px) {
  main {
    width: 100%;
  }
}
